# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup

inventory.ini
# --- Fichiers lourds de VirtualBox / Vagrant ---
*.box
*.vmdk
*-disk*
.vagrant/

# --- Divers ---
.env
node_modules/
*:Zone.Identifier
